{
    "listen": "0.0.0.0:8000",
    "logPrefix": "",
    "tlsTimeout": 10,
    "workDir": "./data",
    "retransferDelay": 1000,
    "watcherDelay": 2000,
    "maxThreads": 5,
    "zones": [
        {
            "name": "example.com.",
            "master": "192.168.0.1:53",
            "proto": "udp",
            "omitMX": false,
            "portMX": 465,
            "excludes": []
        }
    ]
}
